* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Acme;
}
h1{
    color: #72ab00;
}
h2,h3,h4{
    color: #72ab00;
    font-weight: lighter;
    padding-bottom: 0%;
}
h5{
    color: black;
    font-weight: lighter;
}

/* navigasi bar*/
.navbar {
    width: 100%;
    height: 50px;
    padding: 0px;
    background-color: #303030;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.navbar > .container {
    padding: 0 5px;
}
.navbar .menu {
    margin: 0;
    padding: 0;
    line-height: 50px;
}
.navbar li {
    float: left;
    list-style-type: none;
    padding: 0 15px;
    display: block;
}
.navbar li.active{
    background-color: #72ab00;
    cursor: pointer;
}
.navbar li:hover:not(.active) {
    background-color: rgba(120, 120, 120, 0.7);
    cursor: pointer;
}
.navbar li > a {
    text-decoration: none;
    color: whitesmoke;
}

/* header */
header {
    background-color: #f8f8f8;
}
header > .container {
    padding: 15px;
    text-align: center;
    top: 0;
    z-index: 10;
}
header .fab {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
;
}
header .fab:hover {
    opacity: 0.7;
    cursor: pointer;
}
header .fa-facebook {
    background: white;
    color:#3B5998;
}
header .fa-twitter {
    background: white;
    color:#55ACEE;
}
header .fa-google-plus {
    background: white;
    color:#dd4b39;
}
header .fa-linkedin {
    background: white;
    color:#007bb5;
}
header img {
    border-radius: 50%;
    width: 250px;
}
/* konten */
.photos {
    margin: 0 auto;
    padding: 5px;
}
.imageCards {
    margin: 5px;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 10px;
}
.imageCards > img {
    max-width: 100%;
    transition:transform 0.25s ease;
}
.imageCards > img:first-child {
    grid-area: 1 / 1 / span 3 / span 3;
}
.imageCards > img:nth-child(4) {
    grid-area: 1 / 6 / span 2 / span 2;
}
.imageCards > img:hover {
    background-color: rgba(170, 168, 168, 0.6);
    cursor: pointer;
}
.imageCards > img:active {
    -webkit-transform:scale(1.5);
    transform:scale(2);
}
/* footer */
footer {
    background-color: #303030;
    padding: 15px;
    text-align: center;
    color: whitesmoke;
    line-height: 30%;
}
footer > a {
    text-decoration: none;
    color: whitesmoke;
}